:root {
    /* Цвет текста */
    --basic-txt-color: #212121;
    --accent-txt-color: #2196f3;
    --secondary-txt-color: #ffffff;
    --paragraph-txt-color: #757575;
    --button-txt-color: #188ce8;
    --logo-color: #000000;

    /* Цвет фона */
    --bg-color: #2f303a;
    --secondary-bg-color: #f5f4fa;
}

body {
    font-family: 'Roboto', 'Raleway', sans-serif;
    font-size: 14px;
}

/* Логотип */

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logo-color);
}

.accent {
    color: var(--accent-txt-color);
}

/* Подчеркивание ссылок и маркеры */

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

/* Шапка  */

.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--basic-txt-color);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--accent-txt-color);
}

.current {
    color: var(--accent-txt-color);
}

.group-contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--paragraph-txt-color);
    font-style: normal;
}

.group-contact:hover,
.group-contact:focus {
    color: var(--accent-txt-color);
}

/* Блок основного контента */

/* Герой */

.hero {
    background-color: var(--bg-color);
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--secondary-txt-color);
}

.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--secondary-txt-color);
    background-color: var(--accent-txt-color);
    cursor: pointer;
}

.button:hover,
.button:focus {
    background-color: var(--button-txt-color);
}

/* Особнности  */

.about-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--basic-txt-color);
}

.about-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--paragraph-txt-color);
}

/* Чем мы занимаемся */

.work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--basic-txt-color);
}

/* Наша команда */

.team {
    background-color: var(--secondary-bg-color);
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--basic-txt-color);
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--basic-txt-color);
}

.team-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--paragraph-txt-color);
}

/* Футер */

.footer {
    background-color: var(--bg-color);
}

.accent-white {
    color: var(--secondary-txt-color);
}

.address {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-txt-color);
    font-style: normal;
}

.address:hover,
.address:focus {
    color: var(--accent-txt-color);
}

/* Портфолио */

.button-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    cursor: pointer;
    font-family: inherit;
}

.button-list:hover,
.button-list:focus {
    background-color: var(--accent-txt-color);
    color: var(--secondary-txt-color);
}

.current-button {
    color: var(--secondary-txt-color);
    background-color: var(--accent-txt-color);
}

.project-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--basic-txt-color);
}

.project-type {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--paragraph-txt-color);
}